body {
  padding: 0;
}

nav {
  background: #a9ddd6;
}

nav a{
  color:#bf1363;
}

#home {
  display:none;
}

.description-initial {
  background: #a9ddd6;
  height: 90vh;
}

.description {
  margin-top: 15%;
}
